In [1]:
#pip install pandas

In [2]:
import pandas as pd

In [3]:
a=[10,20,30,40,50]
pd.Series(a)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
b=[10.1,20.2,30.3,40.4,50.5]
pd.Series(b)

0    10.1
1    20.2
2    30.3
3    40.4
4    50.5
dtype: float64

In [5]:
c=[10+3j,20+2j,30+3j,40+4j,50+5j]
pd.Series(c)

0    10.0+ 3.0j
1    20.0+ 2.0j
2    30.0+ 3.0j
3    40.0+ 4.0j
4    50.0+ 5.0j
dtype: complex128

In [6]:
h=["python","java"]
pd.Series(h)

0    python
1      java
dtype: object

In [7]:
e=[True,False]
pd.Series(e)

0     True
1    False
dtype: bool

In [8]:
f=[True,"Vijay",8]
pd.Series(f)

0     True
1    Vijay
2        8
dtype: object

In [9]:
pd.Series(a,index=["i","ii","iii","iv","v"])

i      10
ii     20
iii    30
iv     40
v      50
dtype: int64

In [10]:
data=pd.DataFrame({"names":["rajendra","rajesh","rajeev"],"marks":[60,70,80]})
data

      names  marks
0  rajendra     60
1    rajesh     70
2    rajeev     80

In [11]:
data1=pd.DataFrame({"names":["vijay","jeevan","arun"],"mailid":["vijay@gmail.com","jeevan@gmail.com","arun@gmail.com"],"salary":[100000,50000,70000]})
data1

    names            mailid  salary
0   vijay   vijay@gmail.com  100000
1  jeevan  jeevan@gmail.com   50000
2    arun    arun@gmail.com   70000

In [12]:
d=pd.read_csv("Food Name.csv")
d

           Food Name       Restaurant
0     Mutton Biryani   Little Village
1  Nalligosh Biryani               F2
2    Chicken Biryani           Ismail
3     Prawns Biryani     Rusted spoon
4   Mushroom Biryani        RR Durbar
5       French Fries        Ice Magic
6             Pizzas          Dominos
7      Chicken Wings              KFC
8             Burger      Burger King
9            Noodles  Chinese special

In [13]:
d.columns

Index(['Food Name', 'Restaurant'], dtype='object')

In [14]:
d.shape

(10, 2)

In [15]:
d2=pd.read_csv("Netflix_Movies_and_TV_Shows.csv")
d2

,Title,Type,Genre,Release Year,Rating,Duration,Country
0,Title 1,TV Show,Comedy,1955,PG,3 Seasons,Japan
1,Title 2,TV Show,Horror,2020,G,3 Seasons,India
2,Title 3,TV Show,Action,1966,TV-PG,140 min,United States
3,Title 4,Movie,Thriller,2011,PG-13,3 Seasons,Canada
4,Title 5,TV Show,Romance,1959,TV-14,172 min,India
...,...,...,...,...,...,...,...
2995,Title 2996,Movie,Thriller,2007,TV-PG,75 min,Germany
2996,Title 2997,Movie,Drama,2019,G,2 Seasons,Germany
2997,Title 2998,TV Show,Action,1993,R,3 Seasons,Canada
2998,Title 2999,Movie,Drama,1966,PG-13,1 Seasons,Germany
2999,Title 3000,TV Show,Thriller,2015,PG,2 Seasons,United States

In [16]:
d2.shape

(3000, 7)

In [17]:
d2.columns

Index(['Title', 'Type', 'Genre', 'Release Year', 'Rating', 'Duration',
       'Country'],
      dtype='object')